@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: var(--font-inter);
  }
   
  h1,h2,h3 {
    font-family: var(--font-play-fair);
  }


 



.rec-arrow {
    background-color: #164849; /* Example background color for arrows */
    
}

.rec-arrow:hover {
    background-color:  #164849; /* Example hover color for arrows */
    color:white;
}

.rec-dot {
    background-color: #164849; /* Example background color for dots */
}

.rec-dot_active {
    background-color: #e64a19; /* Example active dot color */
}
.hYa-dfP:hover:enabled, .hYa-dfP:focus:enabled{
  background-color: #164849; /* Example background color for dots */

}